{% include 'course_pages/header.html' %}

    <!-- Coourse-5 -->

    <div class="course-details">
      <div class="course-vedio">
        <iframe
          width="750"
          height="500"
          src="https://www.youtube.com/embed/3dHNOWTI7H8"
          frameborder="0"
        ></iframe>
      </div>
      <div class="course-detail-content">
        <h1 class="headings">AngularJS Introduction</h1>
        <p>
          AngularJS is a <strong>JavaScript framework.</strong> It can be added
          to an HTML page with a &ltscript&gt tag.
        </p>

        <p>
          AngularJS extends HTML attributes with <strong>Directives</strong> ,
          and binds data to HTML with <strong>Expressions.</strong>
        </p>
        <hr>
        <h3 class="headings">AngularJS is a JavaScript Framework</h3>
        <p>AngularJS is a JavaScript framework written in JavaScript.</p>

        <p>
          AngularJS is distributed as a JavaScript file, and can be added to a
          web page with a script tag:
        </p>
        <p>
          &ltscript
          src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"&gt&lt/script&gt
        </p>
        <hr> 
        <h3 class="headings">AngularJS Extends HTML</h3>
        <p>AngularJS extends HTML with ng-directives.</p>

        <p>The ng-app directive defines an AngularJS application.</p>

        <p>
          The ng-model directive binds the value of HTML controls (input,
          select, textarea) to application data.
        </p>

        <p>The ng-bind directive binds application data to the HTML view.</p>
        <button type="button">
          <a href="https://www.w3schools.com/angular/angular_intro.asp">
            Learn More</a
          >
        </button>
      </div>
    </div>
    <!-- End of Course-5 -->

    <!-- footer -->
{% include 'course_pages/footer.html' %}