{% include 'course_pages/header.html' %}

    <!-- Course-4 -->
    <div class="course-details">
      <div class="course-vedio">
        <iframe
          width="750"
          height="500"
          src="https://www.youtube.com/embed/sBws8MSXN7A"
          frameborder="0"
        ></iframe>
      </div>
      <div class="course-detail-content">
       <h1 class="headings">React Introduction</h1>
       <p>React is a JavaScript library for building user interfaces. </p>

       <p>React is used to build single-page applications.</p> 
        
       <p> React allows us to create reusable UI components.</p>
       <hr>
       <h3 class="headings">What is React?</h3>
       <p>React, sometimes referred to as a frontend JavaScript framework, is a JavaScript library created by Facebook. <br>

        React is a tool for building UI components.</p>
        <h3 class="headings">How does React Work?</h3>
        <p>React creates a VIRTUAL DOM in memory.</p>
        <p>Instead of manipulating the browser's DOM directly, React creates a virtual DOM in memory, where it does all the necessary manipulating, before making the changes in the browser DOM.</p>
        <p>React only changes what needs to be changed!</p>
        <p>React finds out what changes have been made, and changes only what needs to be changed.</p>

         <p> You will learn the various aspects of how React does this in the rest of this tutorial.</p>
         <hr>
       <h3 class="headings">React.JS History</h3>
       <p>Current version of React.JS is V17.0.2 (August 2021). </p>

       <p>Initial Release to the Public (V0.3.0) was in July 2013. </p>
        
       <p>React.JS was first used in 2011 for Facebook's Newsfeed feature. </p>
        
       <p> Facebook Software Engineer, Jordan Walke, created it. </p>
        
       <p> Current version of create-react-app is v4.0.3 (August 2021). </p>
        
       <p>create-react-app includes built tools such as webpack, Babel, and ESLint.</p>

       <button type="button"> <a href="https://www.w3schools.com/REACT/react_intro.asp"> Learn More</a></button>
      </div>


    </div>
    <!-- End of Course-4 -->

    <!-- footer -->

{% include 'course_pages/footer.html' %}